.nn {
	position: relative;
	font-size: 0;
	width: 1000px;
	margin: 0 auto;
}


.base {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	height: 1500px;
	background: #ddd;
}

.move {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 250px;
	height: 500px;
	margin-left: 50px;
	background: blue;
	&.top {
		position: fixed;
		right: auto;
	}
	&.bottom {
		position: absolute;
		bottom: 0;
		top: auto;
	}
}


footer {
	height: 500px;
}